**/.metadata/
/ud_3/Hibernate_examen/nbproject/private/
/ud_3/Hibernate_examen/dist/
/ud_3/Hibernate_examen/build/
/ud_3/Ud3_hibernate_COPY/nbproject/private/
/ud_3/Ud3_hibernate_COPY/build/
/ud_3/Ud3_hibernate_COPY/dist/